
body, html{
  height:100%;
}
body {
  background: url(moon2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title,.squareDancerButton,.addDancerButton, .streetFighterButton, .addVanDamButton, .addSquareButton, .addLlamaButton, .addCatButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.square-dancer{
  border: 10px solid blue;
  border-radius: 0px;
  position: absolute;
}
.streetFighter {
  height: 400px;
  width: 300px;
  background: url(streetFighter.png);
}
.van-dam {
  width: 200px;
  border: 0px;
  height: 250px;
  display: block;
  background: url(vanDam.gif);
}
.llama {
  width: 200px;
  border: 0px;
  height: 250px;
  display: block;
  background: url(llama.gif);
}

.cat {
  transition: all 1.5s ease;
  width: 400px;
  border: 0px;
  height: 180px;
  display: block;
  background: url(nyancat.gif);

  /*transform: translateY(3in);*/

}

.cat:hover {
  transform: translateX(400px);
}
.red {
  background: red;
  height: 200px;
}
